# ==========================
# Oracle
# ==========================
ORACLE_URL=
ORACLE_USERNAME=
ORACLE_PASSWORD=

# ==========================
# RabbitMQ
# ==========================
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin123

# ==========================
# AWS
# ==========================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_S3_BUCKET=cloudnative-cursos-bastian

# ==========================
# Producer
# ==========================
SERVER_PORT=8081